@model Futbol.Models.Jugador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Jugador</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">Apellido</div>
    <div class="display-field">@Model.Apellido</div>

    <div class="display-label">Nacionalidad</div>
    <div class="display-field">@Model.Nacionalidad</div>

    <div class="display-label">Equipo</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Equipo).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


