@model IList<Futbol.ViewModels.JugadorListViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Jugadores</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Volver a equipos", "Index", "Equipos")
</p>
<table>
    <tr>
        
        <th>
            Apellido
        </th>
        <th>
            Equipo
        </th>
      <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
             @item.Apellido
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Equipo).ToString()
        </td>
          <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>


